server {
    listen                  80 0.0.0.0;
    server_name             server1 server2;
    root                    /var/www/example.com;
    index                   index.html download.html;
    error_page              404 505 /custom_404.html /custom_505.html ;
    client_max_body_size    1024;
    request_method          GET POST;
    autoindex               off;

    location /test {
        error_page              404 /custom_404 html;
        client_max_body_size    1024;
        request_method          GET POST;
    }

    location /upload {
        error_page              404 /custom_404 html;
        client_max_body_size    1024;
        request_method          GET POST;
    }
}

server {
    listen                  80 0.0.0.0;
    server_name              server2;
    root                    /var/www/example.com;
    index                   index.html;
    error_page              404 /custom_404 html;
    client_max_body_size    1024;
    request_method          GET POST;
    autoindex               on;
}